@import url(https://fonts.googleapis.com/css?family=Inder:regular&display=swap);
@font-face {
  font-family: Coolvetica;
  font-display: swap;
  src: url(../fonts/CoolveticaHv-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Coolvetica;
  font-display: swap;
  src: url(../fonts/CoolveticaRg-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=icon-]::after,
[class*=icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-instagram:before {
  content: "\e900"
}
.icon-linkedin:before {
  content: "\e901"
}
.icon-facebook:before {
  content: "\e902"
}
.icon-arrow:after {
  content: "\e906";
  color: #fff
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #111;
  line-height: 1;
  font-family: Inder;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inder;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 111.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,110rem) 1fr .9375rem
}
[class*="--gc"] > * {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  width: 100%;
  display: block;
  padding: 13px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255,255,255,.4);
  caret-color: inherit;
  color: #fff
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: .625rem
}
.options__item {
  position: relative;
  cursor: pointer;
  padding: 13px 20px;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 25px;
  display: grid;
  flex: 1 1 auto;
  align-items: center;
  transition: background-color .3s ease;
  font-family: sans-serif;
  font-weight: 700;
  color: #000
}
.options__item:has(input:checked) {
  background-color: #9eb5ee
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute
}
.options__input:focus-visible + .options__label:before {
  box-shadow: 0 0 5px #000
}
.options__input:checked + .options__label:before {
  border-color: #000
}
.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.options__label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  position: relative;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: #fff
}
.options__label:before {
  content: "";
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  border-radius: 50%;
  border: 2px solid #fff
}
.options__label:after {
  content: "";
  transition: all .3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 5.1px;
  top: 5.1px
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-family: Coolvetica;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 90%
}
.title--light {
  color: #fff
}
.title--decor .decor {
  display: inline-block;
  padding: 0 .375rem;
  border-radius: 6.25rem;
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  background: url(../img/icons/decor-title.svg) 0 0/contain no-repeat
}
.lable {
  display: flex;
  align-items: center;
  color: #3b7f6c;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  font-family: Coolvetica
}
.lable::before {
  content: "";
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #3b7f6c
}
.lable--white {
  color: #fff
}
.lable--white::before {
  content: "";
  background-color: #fff
}
.desc {
  font-family: Coolvetica;
  line-height: 140%
}
.desc--white {
  color: #fff
}
.text {
  line-height: 150%
}
.text--light {
  color: #fff
}
.btn {
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: .875rem;
  -moz-column-gap: .875rem;
  column-gap: .875rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  padding: .875rem 1.5rem;
  border-radius: 50px;
  background-color: #111;
  transition: background-color .3s
}
.btn::after,
.btn::before {
  content: "";
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff
}
.btn--transparent {
  background-color: transparent;
  border: .0625rem solid #111;
  color: #111;
  transition: scale .3s
}
.btn--transparent::before {
  content: "";
  display: none
}
.btn--transparent::after {
  content: "";
  display: none
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff
}
.header__container {
  min-height: 4.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: .0625rem solid #111
}
.menu {
  display: grid;
  grid-template-columns: 1fr auto auto
}
.menu__logo {
  width: 7.25rem;
  z-index: 5
}
.menu__logo:not(:last-child) {
  margin-right: 1.25rem
}
.menu__body {
  justify-self: end
}
.menu__list {
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .3125rem
}
.menu__item {
  text-align: center
}
.menu__link {
  position: relative;
  padding-bottom: .1875rem;
  transition: color .3s ease
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #111;
  transition: width .4s ease,background-color .3s ease
}
.action-header {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  justify-self: end
}
.action-header__link {
  position: relative;
  padding-bottom: .1875rem;
  transition: color .3s ease
}
.action-header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #111;
  transition: width .4s ease,background-color .3s ease
}
.icon-menu {
  display: none
}
.footer {
  background-color: #111
}
.footer__container {
  display: grid
}
.footer__bottom {
  border-top: .0625rem solid #fff
}
.top-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1.875rem
}
.top-footer__copy {
  color: #fff;
  font-size: .875rem;
  opacity: .6
}
.col {
  display: grid;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem;
  grid-template-columns: repeat(auto-fit,minmax(13.75rem,1fr));
  row-gap: 1.875rem
}
.col__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.col__title {
  color: #fff;
  line-height: 140%;
  font-family: Coolvetica;
  font-size: 1.25rem
}
.col__item {
  color: #fff;
  opacity: .8
}
.col__item address {
  font-style: normal
}
.col__item:not(:last-child) {
  margin-bottom: .75rem
}
.col__link {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.col__text {
  color: #fff;
  opacity: .8
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: .375rem;
  -moz-column-gap: .375rem;
  column-gap: .375rem
}
.social__item {
  border-radius: .5625rem;
  background-color: #9eb5ee;
  transition: background-color .3s
}
.social__link {
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
.social__link::before {
  border-radius: .5rem;
  font-size: .875rem;
  padding: .625rem
}
.bottom-footer {
  position: relative;
  border-top: 1px solid #fff
}
@-webkit-keyframes scroll {
  to {
    translate: -30rem
  }
}
@keyframes scroll {
  to {
    translate: -30rem
  }
}
.bottom-footer__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.bottom-footer__body {
  white-space: nowrap;
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.bottom-footer__body :nth-child(1) {
  display: flex;
  align-items: center
}
.bottom-footer__body :nth-child(1)::after {
  content: "";
  width: 52px;
  height: 52px;
  background: url(../img/icons/waving-hand.svg) 0 0/contain no-repeat
}
.bottom-footer__body :nth-child(2) {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.bottom-footer__body :nth-child(2)::before {
  content: "";
  width: 100px;
  height: 10px;
  background-color: #fff
}
.bottom-footer__body span {
  font-family: Coolvetica;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90%
}
.hero__container {
  border-bottom: .0625rem solid #111
}
.hero__top {
  display: grid;
  grid-template-columns: 1fr 40%;
  align-items: center
}
.top-hero__inner {
  max-width: 50rem
}
.top-hero__desc:not(:last-child) {
  margin-bottom: .6875rem
}
.top-hero__images {
  position: relative
}
.top-hero__images::after,
.top-hero__images::before {
  content: "";
  position: absolute
}
.top-hero__images::before {
  content: "";
  background: url(../img/icons/stars.svg) 0 0/contain no-repeat
}
.top-hero__images::after {
  content: "";
  top: 8%;
  border-radius: 50%;
  background: url(../img/decor-img.webp) 0 0/contain no-repeat
}
.top-hero__image {
  border-radius: 1.25rem;
  aspect-ratio: 595/379
}
.introduction__container {
  display: grid;
  border-bottom: .0625rem solid #111
}
.top-introduction {
  display: flex;
  align-items: start;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem
}
.top-introduction__left {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.125rem
}
.top-introduction__right {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.875rem
}
.top-introduction__lable {
  justify-self: end
}
.top-introduction__desc {
  justify-self: end;
  max-width: 17.125rem
}
.top-introduction__text {
  justify-self: end;
  max-width: 35.6875rem;
  display: grid
}
.top-introduction__text:not(:last-child) {
  margin-bottom: 1.875rem
}
.top-introduction__btn {
  justify-self: end
}
.bottom-introduction {
  display: grid
}
.bottom-introduction__cols {
  display: grid;
  grid-template-columns: 1fr 2fr
}
.bottom-introduction__body {
  display: grid;
  row-gap: .25rem;
  white-space: nowrap;
  justify-items: end;
  padding-left: 1.25rem;
  background-color: #9eb5ee;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  z-index: 2
}
.bottom-introduction__body span {
  display: inline-block
}
.bottom-introduction__body::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  z-index: -1;
  width: 207px;
  height: 223px;
  background: url(../img/introduction-man.webp) 0 0/contain no-repeat
}
.bottom-introduction__body--inline {
  background-color: #eee7cf;
  display: flex;
  justify-content: end;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  align-items: end
}
.bottom-introduction__body--inline::before {
  content: "";
  display: none
}
.bottom-introduction__text {
  line-height: 150%
}
.bottom-introduction__num {
  font-weight: 900;
  line-height: 90%
}
.bottom-introduction__image {
  aspect-ratio: 1760/600;
  border-radius: 1.25rem;
  overflow: hidden
}
.process__top {
  display: grid;
  grid-template-columns: auto 70.318182%;
  border-bottom: .0625rem solid #111;
  padding-top: 1.5rem;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.process__content {
  display: grid;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.process__row {
  border-right: .0625rem solid #111;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-right: 1.5rem
}
.process__wrapper {
  display: flex;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem
}
.process__lable:not(:last-child) {
  margin-bottom: 1rem
}
.process__title {
  flex: 1 1 auto
}
.process__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.process__image-row {
  position: relative
}
.process__image-row::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 5;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../img/icons/stars.svg) 0 0/contain no-repeat
}
.process__image {
  aspect-ratio: 868/520
}
.process__bottom {
  padding-top: 1.5rem;
  display: flex;
  align-items: start;
  justify-content: end;
  row-gap: 1.5625rem
}
.process__text {
  display: grid;
  justify-items: start;
  row-gap: 1.5rem
}
.what-we-do {
  background-color: #111
}
.what-we-do__container {
  display: grid;
  grid-template-columns: 1fr 59.090909%
}
.what-we-do__lable:not(:last-child) {
  margin-bottom: 1rem
}
.what-we-do__item:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: .0625rem solid #fff
}
.what-we-do__item:not(:first-child) {
  padding-top: 1rem
}
.what-we-do__link {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  color: #fff;
  line-height: 150%;
  transition: color .3s
}
.what-we-do__link::after {
  transition: color .3s;
  rotate: -45deg;
  font-size: 1.5rem
}
.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #9eb5ee;
  position: relative
}
.illustration::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #9eb5ee
}
.illustration__wrapper {
  position: relative;
  border-radius: 50%
}
.illustration__image-block {
  position: relative
}
.illustration__image-block::after,
.illustration__image-block::before {
  content: "";
  position: absolute
}
.illustration__image-block::before {
  content: "";
  left: 0;
  bottom: 0;
  background: url(../img/icons/circle.svg) 0 0/contain no-repeat
}
.illustration__image-block::after {
  content: "";
  right: 0;
  top: 0;
  background: url(../img/icons/heart.svg) 0 0/contain no-repeat
}
.illustration__image {
  aspect-ratio: 600/600
}
.illustration__text {
  top: 50%;
  padding: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  font-family: Coolvetica;
  color: #fff;
  line-height: 90%
}
.top-projects {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem;
  row-gap: .625rem
}
.top-projects:not(:last-child) {
  margin-bottom: 3.125rem
}
.top-projects__head {
  display: grid
}
.top-projects__title {
  display: grid;
  max-width: 53.4375rem;
  row-gap: 1.25rem
}
.top-projects__title span {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.top-projects__text {
  max-width: 35.1875rem
}
.top-projects__text span {
  opacity: .7
}
.col-inner {
  border-top: .0625rem solid #111;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 2.1875rem
}
.col-inner__body {
  display: grid;
  row-gap: 1.5rem;
  grid-template-rows: auto 1fr
}
.col-inner__image-row {
  overflow: hidden;
  position: relative;
  border-radius: 1.25rem;
  min-height: 16.25rem;
  padding-bottom: 47.7941176471%
}
.col-inner__image-row img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  transition: scale .3s ease
}
.col-inner__content {
  display: flex;
  align-items: start;
  flex-direction: column
}
.col-inner__donation {
  font-size: 1rem;
  line-height: 150%;
  color: #f2753e;
  font-weight: 700
}
.col-inner__donation span {
  color: #111;
  opacity: .6
}
.col-inner__donation:not(:last-child) {
  margin-bottom: .25rem
}
.col-inner__title {
  font-family: Coolvetica;
  line-height: 140%;
  flex: 1 1 auto;
  transition: opacity .3s
}
.col-inner__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.impact {
  background-color: #eee7cf
}
.impact__content {
  display: grid;
  grid-template-columns: 1fr 45.454545%
}
.impact__slider-inner {
  position: relative;
  background-color: #eee7cf;
  margin: 0 -15px
}
.impact__slider-inner::before {
  content: "";
  width: 100%;
  left: -30%;
  background: url(../img/decor-impact.webp) 0 0/cover no-repeat
}
.impact__slider-inner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 500%;
  background-color: #eee7cf;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.impact__slider {
  background-color: #eee7cf;
  max-width: 45.0625rem;
  display: flex;
  flex-direction: column-reverse
}
.impact__wrapper {
  position: relative
}
.impact__slide {
  position: relative;
  display: grid;
  justify-items: start;
  padding-left: .9375rem
}
.impact__title {
  line-height: 140%;
  font-family: Coolvetica
}
.impact__button-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow.svg) 0 0/contain no-repeat;
  transition: opacity .3s
}
.impact__button-arr.swiper-button-disabled {
  opacity: .6;
  pointer-events: none
}
.impact__button-arr--prev {
  rotate: 180deg
}
.impact__buttons {
  z-index: 5;
  right: 8%;
  top: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: .0625rem solid rgba(0,0,0,.4)
}
.inner-impact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.inner-impact::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 500%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  top: 0;
  right: 0;
  background-color: #111
}
.inner-impact__lable:not(:last-child) {
  margin-bottom: .625rem
}
.donate__wrapper {
  padding-right: .9375rem;
  padding-left: .9375rem
}
.donate__container {
  display: grid;
  row-gap: 1.875rem;
  background-color: #3b7f6c;
  border-radius: 1.25rem
}
.donate__body {
  display: flex;
  flex-direction: column
}
.donate__lable:not(:last-child) {
  margin-bottom: .9375rem
}
.donate__title {
  flex: 1 1 auto
}
.donate__img {
  overflow: hidden;
  border-radius: 1.875rem;
  aspect-ratio: 326/340;
  max-height: 21.25rem
}
.donate__img--s {
  align-self: end;
  aspect-ratio: 200/150;
  max-width: 12.5rem;
  max-height: 9.375rem
}
.donate__img--s:not(:first-child) {
  margin-top: 1.875rem
}
.donate__desc:not(:last-child) {
  margin-bottom: 1.5rem
}
.donation-form {
  display: grid;
  row-gap: 1rem
}
.donation-form__fieldset--price {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap
}
.donation-form__legend {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: #fff
}
.donation-form__legend:not(:last-child) {
  margin-bottom: .375rem
}
.donation-form__label {
  position: relative;
  color: #fff;
  opacity: .8;
  line-height: 150%
}
.donation-form__label span {
  position: absolute;
  left: 0;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff
}
.donation-form__label--full {
  flex: 1 1 auto
}
.donation-form__label:not(:last-child) {
  margin-bottom: .375rem
}
.donation-form__label--custom {
  cursor: pointer;
  font-weight: 500;
  padding: .8125rem 1.25rem;
  border-radius: 50px;
  border: 1px solid rgba(255,255,255,.4)
}
.donation-form__label--custom:has(input:checked) {
  color: #000;
  background-color: #9eb5ee
}
.donation-form__radio {
  width: 0;
  height: 0;
  display: none
}
.donation-form__input:not(:last-child) {
  margin-bottom: 1rem
}
.donation-form__input::-webkit-input-placeholder {
  opacity: .4;
  color: #fff;
  font-weight: 400;
  line-height: 150%
}
.donation-form__input:-ms-input-placeholder {
  opacity: .4;
  color: #fff;
  font-weight: 400;
  line-height: 150%
}
.donation-form__input::-ms-input-placeholder {
  opacity: .4;
  color: #fff;
  font-weight: 400;
  line-height: 150%
}
.donation-form__input::placeholder {
  opacity: .4;
  color: #fff;
  font-weight: 400;
  line-height: 150%
}
.donation-form__input--custom {
  min-width: 7.1875rem;
  padding-left: 40px
}
.donation-form__button {
  justify-self: center
}
.donation-form__text {
  font-size: .875rem;
  color: #fff;
  line-height: 150%;
  opacity: .6;
  text-align: center
}
.donation-form__link {
  font-size: .875rem;
  color: #9eb5ee;
  line-height: 150%;
  text-decoration: underline
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:23.4375em) {
  .impact__buttons {
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
  }
}
@media (min-width:47.99875em) {
  .menu__body {
    display: flex;
    align-items: center
  }
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center
  }
  .bottom-footer__wrapper :nth-child(1) {
    display: none
  }
  .process__text {
    max-width: 34.625rem
  }
  .top-projects__head {
    justify-items: center
  }
  .top-projects__title {
    justify-items: center
  }
  .top-projects__text {
    text-align: center
  }
  .donate__body:nth-of-type(2) {
    border-right: 1px solid #fff
  }
}
@media (min-width:47.99875em) and (min-width:111.875em) {
  .donate__body:nth-of-type(2) {
    padding-right: 2.5rem
  }
  .donate__body:nth-of-type(3) {
    padding-left: 2.5rem
  }
}
@media (min-width:61.99875em) {
  .footer__container {
    grid-template-columns: 1fr 22.137405%;
    grid-template-rows: auto auto;
    grid-template-areas: "top left" "bottom left"
  }
  .footer__content {
    padding-top: 2.5rem
  }
  .footer__content {
    grid-area: top
  }
  .footer__bottom {
    grid-area: bottom
  }
  .top-footer {
    padding-bottom: 2.5rem
  }
  .top-footer {
    flex-direction: column;
    justify-content: space-between;
    grid-area: left;
    grid-row: span 2;
    border-left: 1px solid #fff
  }
  .top-hero__inner {
    padding-right: 5.625rem
  }
  .top-hero__images::after,
  .top-hero__images::before {
    left: 0
  }
  .top-hero__images::before {
    -webkit-transform: translateX(-180%);
    transform: translateX(-180%)
  }
  .top-hero__images::after {
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%)
  }
  .process__wrapper {
    align-items: start
  }
}
@media (min-width:111.875em) {
  .title {
    font-size: 3.125rem
  }
  .title--big {
    font-size: 3.75rem
  }
  .title--decor .decor {
    width: 12.5rem
  }
  .title--decor .decor {
    height: 5rem
  }
  .desc {
    font-size: 1.25rem
  }
  .desc--big {
    font-size: 1.875rem
  }
  .text {
    font-size: 1rem
  }
  .menu__body:not(:last-child) {
    margin-right: 11.25rem
  }
  .footer {
    padding-top: 2.5rem
  }
  .footer {
    padding-bottom: 2.5rem
  }
  .footer__content {
    padding-right: 5rem
  }
  .footer__content {
    padding-bottom: 5rem
  }
  .footer__bottom {
    padding-top: 5rem
  }
  .top-footer {
    padding-left: 5rem
  }
  .col__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .col__text:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .bottom-footer {
    padding-top: 2.5rem
  }
  .bottom-footer {
    padding-bottom: 2.5rem
  }
  .bottom-footer {
    margin-right: 5rem
  }
  .bottom-footer__body span {
    font-size: 3.125rem
  }
  .hero__container {
    padding-top: 8.75rem
  }
  .hero__container {
    padding-bottom: 5rem
  }
  .hero__top {
    row-gap: 7.5rem
  }
  .top-hero__images::before {
    width: 4.375rem
  }
  .top-hero__images::before {
    height: 4.375rem
  }
  .top-hero__images::after {
    width: 12.75rem
  }
  .top-hero__images::after {
    height: 12.75rem
  }
  .introduction {
    padding-top: 1.5rem
  }
  .introduction__container {
    padding-bottom: 1.5rem
  }
  .introduction__container {
    row-gap: 5rem
  }
  .top-introduction__left {
    -webkit-column-gap: 10rem;
    -moz-column-gap: 10rem;
    column-gap: 10rem
  }
  .top-introduction__right {
    -webkit-column-gap: 10rem;
    -moz-column-gap: 10rem;
    column-gap: 10rem
  }
  .top-introduction__text {
    row-gap: 1.875rem
  }
  .bottom-introduction {
    gap: 1.25rem
  }
  .bottom-introduction__cols {
    gap: 1.25rem
  }
  .bottom-introduction__body {
    padding-top: 1.4375rem
  }
  .bottom-introduction__body {
    padding-bottom: 1.4375rem
  }
  .bottom-introduction__body {
    padding-right: 5rem
  }
  .bottom-introduction__body--inline {
    padding-top: 3.125rem
  }
  .bottom-introduction__body--inline {
    padding-bottom: 3.4375rem
  }
  .bottom-introduction__body--inline {
    padding-right: 1.875rem
  }
  .bottom-introduction__body--inline {
    padding-left: 1.875rem
  }
  .bottom-introduction__text {
    font-size: 1.25rem
  }
  .bottom-introduction__num {
    font-size: 9.375rem
  }
  .process__container {
    padding-bottom: 5rem
  }
  .process__top {
    padding-bottom: 1.5rem
  }
  .process__image-row::before {
    width: 8.75rem
  }
  .process__image-row::before {
    height: 8.4375rem
  }
  .process__bottom {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .what-we-do__content {
    padding-top: 2.5rem
  }
  .what-we-do__content {
    padding-bottom: 2.5rem
  }
  .what-we-do__content {
    padding-right: 5rem
  }
  .what-we-do__title:not(:last-child) {
    margin-bottom: 7.5rem
  }
  .what-we-do__link {
    font-size: 1.25rem
  }
  .illustration {
    padding-top: 2.5rem
  }
  .illustration {
    padding-bottom: 2.5rem
  }
  .illustration__image-block::before {
    width: 8.75rem
  }
  .illustration__image-block::before {
    height: 8.75rem
  }
  .illustration__image-block::after {
    width: 10.1875rem
  }
  .illustration__image-block::after {
    height: 8.8125rem
  }
  .illustration__text {
    font-size: 3.5rem
  }
  .projects {
    padding-top: 5rem
  }
  .projects {
    padding-bottom: 1.5rem
  }
  .top-projects__title {
    row-gap: 1.25rem
  }
  .top-projects__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .col-inner {
    padding-top: 1.5rem
  }
  .col-inner {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .col-inner__title {
    font-size: 1.5rem
  }
  .impact__slider-inner::before {
    height: 18.75rem
  }
  .impact__slide {
    row-gap: 1.875rem
  }
  .impact__slide {
    padding-right: 5rem
  }
  .impact__slide {
    padding-top: 2.5rem
  }
  .impact__slide {
    padding-bottom: 2.5rem
  }
  .impact__title {
    font-size: 1.875rem
  }
  .impact__buttons {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .impact__buttons {
    width: 12.5rem
  }
  .impact__buttons {
    height: 12.5rem
  }
  .inner-impact {
    padding-left: 5rem
  }
  .inner-impact__title {
    font-size: 6.875rem
  }
  .donate__wrapper {
    padding-top: 2.5rem
  }
  .donate__wrapper {
    padding-bottom: 2.5rem
  }
  .donate__container {
    padding-top: 2.5rem
  }
  .donate__container {
    padding-bottom: 2.5rem
  }
  .donate__container {
    padding-right: 5rem
  }
  .donate__container {
    padding-left: 5rem
  }
}
@media (min-width:75em) {
  .donate__container {
    grid-template-columns: 1fr minmax(350px,392px) 1fr
  }
  .donate__body:nth-of-type(2) {
    border-left: 1px solid #fff
  }
}
@media (min-width:75em) and (min-width:111.875em) {
  .donate__body:nth-of-type(1) {
    padding-right: 2.5rem
  }
  .donate__body:nth-of-type(2) {
    padding-left: 2.5rem
  }
}
@media (min-width:110em) {
  [class*=out-of-container] {
    padding-left: max(.9375rem,(100% - 110rem) / 2)
  }
  .impact {
    max-width: 120rem;
    margin: 0 auto
  }
}
@media (max-width:110em) {
  .impact__content {
    margin: 0 auto;
    max-width: 110rem;
    padding: 0 .9375rem
  }
}
@media (max-width:75em) {
  .donate__container {
    grid-template-areas: "top top top" "left right right"
  }
  .donate__body:nth-of-type(1) {
    grid-area: top
  }
  .donate__body:nth-of-type(2) {
    grid-area: left
  }
  .donate__body:nth-of-type(3) {
    grid-area: right
  }
  .donate__img--s {
    display: none
  }
}
@media (max-width:50em) {
  .impact__buttons {
    top: 50%;
    right: 2%
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2.1875rem
  }
  .title--big {
    font-size: 2.5rem
  }
  .title--decor .decor {
    width: 8.75rem
  }
  .title--decor .decor {
    height: 3.75rem
  }
  .desc {
    font-size: 1.125rem
  }
  .desc--big {
    font-size: 1.25rem
  }
  .text {
    font-size: .875rem
  }
  .menu__body:not(:last-child) {
    margin-right: 1.875rem
  }
  .footer {
    padding-top: 2rem
  }
  .footer {
    padding-bottom: 2rem
  }
  .footer__content {
    padding-bottom: 2rem
  }
  .footer__bottom {
    padding-top: 2rem
  }
  .col__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .col__text:not(:last-child) {
    margin-bottom: 1rem
  }
  .bottom-footer {
    padding-top: 4.375rem
  }
  .bottom-footer {
    padding-bottom: 2rem
  }
  .bottom-footer__body span {
    font-size: 1.5625rem
  }
  .hero__container {
    padding-top: 6.25rem
  }
  .hero__container {
    padding-bottom: 3.125rem
  }
  .hero__top {
    row-gap: 6.25rem
  }
  .top-hero__images::before {
    width: 3.125rem
  }
  .top-hero__images::before {
    height: 3.125rem
  }
  .top-hero__images::after {
    width: 8.125rem
  }
  .top-hero__images::after {
    height: 8.125rem
  }
  .introduction {
    padding-top: 3.125rem
  }
  .introduction__container {
    padding-bottom: 3.125rem
  }
  .introduction__container {
    row-gap: 3.125rem
  }
  .top-introduction__left {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .top-introduction__right {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .top-introduction__text {
    row-gap: 1.5rem
  }
  .bottom-introduction {
    gap: 1rem
  }
  .bottom-introduction__cols {
    gap: 1rem
  }
  .bottom-introduction__body {
    padding-top: 3.4375rem
  }
  .bottom-introduction__body {
    padding-bottom: 3.4375rem
  }
  .bottom-introduction__body {
    padding-right: 2.75rem
  }
  .bottom-introduction__body--inline {
    padding-top: 1.875rem
  }
  .bottom-introduction__body--inline {
    padding-bottom: 1.875rem
  }
  .bottom-introduction__body--inline {
    padding-right: 1.5rem
  }
  .bottom-introduction__body--inline {
    padding-left: 1.5rem
  }
  .bottom-introduction__text {
    font-size: 1.125rem
  }
  .bottom-introduction__num {
    font-size: 5.625rem
  }
  .process__container {
    padding-bottom: 3.125rem
  }
  .process__top {
    padding-bottom: 3.125rem
  }
  .process__bottom {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .what-we-do__content {
    padding-top: 3.125rem
  }
  .what-we-do__content {
    padding-bottom: 3.125rem
  }
  .what-we-do__title:not(:last-child) {
    margin-bottom: 6.25rem
  }
  .what-we-do__link {
    font-size: 1rem
  }
  .illustration {
    padding-top: 3.125rem
  }
  .illustration {
    padding-bottom: 3.125rem
  }
  .illustration__text {
    font-size: 2.1875rem
  }
  .projects {
    padding-top: 3.75rem
  }
  .projects {
    padding-bottom: 2.5rem
  }
  .top-projects__title {
    row-gap: .25rem
  }
  .top-projects__title:not(:last-child) {
    margin-bottom: 3rem
  }
  .col-inner {
    padding-top: 3.125rem
  }
  .col-inner__title {
    font-size: 1.25rem
  }
  .impact__slider-inner::before {
    height: 12.5rem
  }
  .impact__slide {
    row-gap: 1.5rem
  }
  .impact__slide {
    padding-top: 1.5rem
  }
  .impact__slide {
    padding-bottom: 1.5rem
  }
  .impact__title {
    font-size: 1.5rem
  }
  .impact__buttons {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .impact__buttons {
    width: 5.9375rem
  }
  .impact__buttons {
    height: 5.9375rem
  }
  .inner-impact {
    padding-bottom: 2.5rem
  }
  .inner-impact__title {
    font-size: 3.125rem
  }
  .donate__wrapper {
    padding-top: .9375rem
  }
  .donate__wrapper {
    padding-bottom: .9375rem
  }
  .donate__container {
    padding-top: 1.5rem
  }
  .donate__container {
    padding-bottom: 1.5rem
  }
  .donate__container {
    padding-right: .9375rem
  }
  .donate__container {
    padding-left: .9375rem
  }
}
@media (max-width:83.125em) {
  .impact {
    background-color: #111
  }
  .impact__content {
    display: flex;
    flex-direction: column-reverse
  }
  .impact__slider-inner::after {
    display: none
  }
  .inner-impact::after {
    display: none
  }
}
@media (max-width:67.5em) {
  .bottom-introduction__cols {
    grid-template-columns: 1fr
  }
}
@media (max-width:61.99875em) {
  .top-footer {
    border-bottom: 1px solid #fff;
    justify-content: space-between
  }
  .hero__top {
    grid-template-columns: 1fr
  }
  .top-hero__images::before {
    top: 0;
    -webkit-transform: translateY(-130%);
    transform: translateY(-130%);
    right: 0
  }
  .top-hero__images::after {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    top: 0;
    right: 2%
  }
  .top-hero__image {
    max-height: 774px;
    aspect-ratio: 774/460
  }
  .process__top {
    grid-template-columns: 1fr
  }
  .process__row {
    padding-right: 0;
    border-right: none;
    border-bottom: .0625rem solid #111;
    padding-bottom: 3.125rem
  }
  .process__wrapper {
    padding-top: 3.125rem;
    flex-direction: column
  }
  .process__image-row::before {
    width: 6.25rem
  }
  .process__image-row::before {
    height: 5.9375rem;
    display: none
  }
  .top-projects {
    grid-template-columns: 1fr
  }
  .col-inner {
    grid-template-columns: 1fr
  }
}
@media (max-width:47.99875em) {
  .title--decor .decor {
    display: none
  }
  .menu__body {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s ease 0s;
    padding: 5.625rem .9375rem 1.875rem .9375rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -100%;
    transition: left .3s ease 0s;
    width: 100%;
    min-height: 4.5rem;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.6875rem
  }
  .menu__link {
    font-size: 1.875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    left: 0;
    position: absolute;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    width: 100%;
    top: 0
  }
  .icon-menu::after {
    bottom: 0;
    width: 70%
  }
  .icon-menu span {
    width: 100%;
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%
  }
  .bottom-footer__wrapper {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite
  }
  .bottom-introduction__body--inline {
    flex-direction: column;
    align-items: center
  }
  .bottom-introduction__image {
    aspect-ratio: 774/500
  }
  .process__bottom {
    flex-direction: column-reverse
  }
  .what-we-do__container {
    grid-template-columns: 1fr
  }
  .illustration {
    display: none
  }
  .illustration__image-block::before {
    width: 5.625rem
  }
  .illustration__image-block::before {
    height: 5.625rem
  }
  .illustration__image-block::after {
    width: 7.5rem
  }
  .illustration__image-block::after {
    height: 5rem
  }
  .donate__container {
    grid-template-areas: "top top top" "left left left" "right right right"
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap
  }
  .footer__content {
    grid-template-columns: 1fr
  }
  .col {
    grid-template-columns: 1fr
  }
  .col__body:not(:first-child)::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff
  }
  .top-introduction {
    flex-direction: column
  }
  .top-introduction__left {
    flex-direction: column
  }
  .bottom-introduction__body::before {
    left: -10%
  }
}
@media (max-width:23.4375em) {
  .impact__slide {
    padding-right: .9375rem
  }
  .impact__buttons {
    margin: 1.5625rem auto 0 auto
  }
}
@media (min-width:20em) and (max-width:111.875em) {
  .title {
    font-size: clamp(2.1875rem ,1.9834183673rem + 1.0204081633vw ,3.125rem)
  }
  .title--big {
    font-size: clamp(2.5rem ,2.2278911565rem + 1.3605442177vw ,3.75rem)
  }
  .title--decor .decor {
    width: clamp(8.75rem ,7.9336734694rem + 4.0816326531vw ,12.5rem)
  }
  .title--decor .decor {
    height: clamp(3.75rem ,3.4778911565rem + 1.3605442177vw ,5rem)
  }
  .desc {
    font-size: clamp(1.125rem ,1.0977891156rem + .1360544218vw ,1.25rem)
  }
  .desc--big {
    font-size: clamp(1.25rem ,1.1139455782rem + .6802721088vw ,1.875rem)
  }
  .text {
    font-size: clamp(.875rem ,.8477891156rem + .1360544218vw ,1rem)
  }
  .menu__body:not(:last-child) {
    margin-right: clamp(1.875rem ,-.1658163265rem + 10.2040816327vw ,11.25rem)
  }
  .footer {
    padding-top: clamp(2rem ,1.8911564626rem + .5442176871vw ,2.5rem)
  }
  .footer {
    padding-bottom: clamp(2rem ,1.8911564626rem + .5442176871vw ,2.5rem)
  }
  .footer__content {
    padding-bottom: clamp(2rem ,1.3469387755rem + 3.2653061224vw ,5rem)
  }
  .footer__bottom {
    padding-top: clamp(2rem ,1.3469387755rem + 3.2653061224vw ,5rem)
  }
  .col__title:not(:last-child) {
    margin-bottom: clamp(1rem ,.8911564626rem + .5442176871vw ,1.5rem)
  }
  .col__text:not(:last-child) {
    margin-bottom: clamp(1rem ,.8911564626rem + .5442176871vw ,1.5rem)
  }
  .bottom-footer {
    padding-top: clamp(2.5rem ,4.7831632653rem + -2.0408163265vw ,4.375rem)
  }
  .bottom-footer {
    padding-bottom: clamp(2rem ,1.8911564626rem + .5442176871vw ,2.5rem)
  }
  .bottom-footer__body span {
    font-size: clamp(1.5625rem ,1.2223639456rem + 1.7006802721vw ,3.125rem)
  }
  .hero__container {
    padding-top: clamp(6.25rem ,5.7057823129rem + 2.7210884354vw ,8.75rem)
  }
  .hero__container {
    padding-bottom: clamp(3.125rem ,2.7168367347rem + 2.0408163265vw ,5rem)
  }
  .hero__top {
    row-gap: clamp(6.25rem ,5.9778911565rem + 1.3605442177vw ,7.5rem)
  }
  .top-hero__images::before {
    width: clamp(3.125rem ,2.8528911565rem + 1.3605442177vw ,4.375rem)
  }
  .top-hero__images::before {
    height: clamp(3.125rem ,2.8528911565rem + 1.3605442177vw ,4.375rem)
  }
  .top-hero__images::after {
    width: clamp(8.125rem ,7.1181972789rem + 5.0340136054vw ,12.75rem)
  }
  .top-hero__images::after {
    height: clamp(8.125rem ,7.1181972789rem + 5.0340136054vw ,12.75rem)
  }
  .introduction {
    padding-top: clamp(1.5rem ,3.4787414966rem + -1.768707483vw ,3.125rem)
  }
  .introduction__container {
    padding-bottom: clamp(1.5rem ,3.4787414966rem + -1.768707483vw ,3.125rem)
  }
  .introduction__container {
    row-gap: clamp(3.125rem ,2.7168367347rem + 2.0408163265vw ,5rem)
  }
  .top-introduction__left {
    -webkit-column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem);
    -moz-column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem);
    column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem)
  }
  .top-introduction__right {
    -webkit-column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem);
    -moz-column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem);
    column-gap: clamp(3.125rem ,1.6284013605rem + 7.4829931973vw ,10rem)
  }
  .top-introduction__text {
    row-gap: clamp(1.5rem ,1.4183673469rem + .4081632653vw ,1.875rem)
  }
  .bottom-introduction {
    gap: clamp(1rem ,.9455782313rem + .2721088435vw ,1.25rem)
  }
  .bottom-introduction__cols {
    gap: clamp(1rem ,.9455782313rem + .2721088435vw ,1.25rem)
  }
  .bottom-introduction__body {
    padding-top: clamp(1.4375rem ,3.8728741497rem + -2.1768707483vw ,3.4375rem)
  }
  .bottom-introduction__body {
    padding-bottom: clamp(1.4375rem ,3.8728741497rem + -2.1768707483vw ,3.4375rem)
  }
  .bottom-introduction__body {
    padding-right: clamp(2.75rem ,2.2602040816rem + 2.4489795918vw ,5rem)
  }
  .bottom-introduction__body--inline {
    padding-top: clamp(1.875rem ,1.6028911565rem + 1.3605442177vw ,3.125rem)
  }
  .bottom-introduction__body--inline {
    padding-bottom: clamp(1.875rem ,1.5348639456rem + 1.7006802721vw ,3.4375rem)
  }
  .bottom-introduction__body--inline {
    padding-right: clamp(1.5rem ,1.4183673469rem + .4081632653vw ,1.875rem)
  }
  .bottom-introduction__body--inline {
    padding-left: clamp(1.5rem ,1.4183673469rem + .4081632653vw ,1.875rem)
  }
  .bottom-introduction__text {
    font-size: clamp(1.125rem ,1.0977891156rem + .1360544218vw ,1.25rem)
  }
  .bottom-introduction__num {
    font-size: clamp(5.625rem ,4.8086734694rem + 4.0816326531vw ,9.375rem)
  }
  .process__container {
    padding-bottom: clamp(3.125rem ,2.7168367347rem + 2.0408163265vw ,5rem)
  }
  .process__top {
    padding-bottom: clamp(1.5rem ,3.4787414966rem + -1.768707483vw ,3.125rem)
  }
  .process__bottom {
    -webkit-column-gap: clamp(3.75rem ,3.4778911565rem + 1.3605442177vw ,5rem);
    -moz-column-gap: clamp(3.75rem ,3.4778911565rem + 1.3605442177vw ,5rem);
    column-gap: clamp(3.75rem ,3.4778911565rem + 1.3605442177vw ,5rem)
  }
  .what-we-do__content {
    padding-top: clamp(2.5rem ,3.2610544218rem + -.6802721088vw ,3.125rem)
  }
  .what-we-do__content {
    padding-bottom: clamp(2.5rem ,3.2610544218rem + -.6802721088vw ,3.125rem)
  }
  .what-we-do__title:not(:last-child) {
    margin-bottom: clamp(6.25rem ,5.9778911565rem + 1.3605442177vw ,7.5rem)
  }
  .what-we-do__link {
    font-size: clamp(1rem ,.9455782313rem + .2721088435vw ,1.25rem)
  }
  .illustration {
    padding-top: clamp(2.5rem ,3.2610544218rem + -.6802721088vw ,3.125rem)
  }
  .illustration {
    padding-bottom: clamp(2.5rem ,3.2610544218rem + -.6802721088vw ,3.125rem)
  }
  .illustration__text {
    font-size: clamp(2.1875rem ,1.9017857143rem + 1.4285714286vw ,3.5rem)
  }
  .projects {
    padding-top: clamp(3.75rem ,3.4778911565rem + 1.3605442177vw ,5rem)
  }
  .projects {
    padding-bottom: clamp(1.5rem ,2.7176870748rem + -1.0884353741vw ,2.5rem)
  }
  .top-projects__title {
    row-gap: clamp(.25rem ,.0323129252rem + 1.0884353741vw ,1.25rem)
  }
  .top-projects__title:not(:last-child) {
    margin-bottom: clamp(3rem ,2.9727891156rem + .1360544218vw ,3.125rem)
  }
  .col-inner {
    padding-top: clamp(1.5rem ,3.4787414966rem + -1.768707483vw ,3.125rem)
  }
  .col-inner__title {
    font-size: clamp(1.25rem ,1.1955782313rem + .2721088435vw ,1.5rem)
  }
  .impact__slider-inner::before {
    height: clamp(12.5rem ,11.1394557823rem + 6.8027210884vw ,18.75rem)
  }
  .impact__slide {
    row-gap: clamp(1.5rem ,1.4183673469rem + .4081632653vw ,1.875rem)
  }
  .impact__slide {
    padding-top: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .impact__slide {
    padding-bottom: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .impact__title {
    font-size: clamp(1.5rem ,1.4183673469rem + .4081632653vw ,1.875rem)
  }
  .impact__buttons {
    -webkit-column-gap: clamp(.9375rem ,.8150510204rem + .612244898vw ,1.5rem);
    -moz-column-gap: clamp(.9375rem ,.8150510204rem + .612244898vw ,1.5rem);
    column-gap: clamp(.9375rem ,.8150510204rem + .612244898vw ,1.5rem)
  }
  .impact__buttons {
    width: clamp(5.9375rem ,4.5089285714rem + 7.1428571429vw ,12.5rem)
  }
  .impact__buttons {
    height: clamp(5.9375rem ,4.5089285714rem + 7.1428571429vw ,12.5rem)
  }
  .inner-impact__title {
    font-size: clamp(3.125rem ,2.3086734694rem + 4.0816326531vw ,6.875rem)
  }
  .donate__wrapper {
    padding-top: clamp(.9375rem ,.5973639456rem + 1.7006802721vw ,2.5rem)
  }
  .donate__wrapper {
    padding-bottom: clamp(.9375rem ,.5973639456rem + 1.7006802721vw ,2.5rem)
  }
  .donate__container {
    padding-top: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .donate__container {
    padding-bottom: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .donate__container {
    padding-right: clamp(.9375rem ,.0531462585rem + 4.4217687075vw ,5rem)
  }
  .donate__container {
    padding-left: clamp(.9375rem ,.0531462585rem + 4.4217687075vw ,5rem)
  }
}
@media (min-width:20em) and (max-width:61.99875em) {
  .footer__content {
    padding-top: clamp(2rem ,1.7618976755rem + 1.1905116224vw ,2.5rem)
  }
  .top-footer {
    padding-bottom: clamp(2rem ,1.7618976755rem + 1.1905116224vw ,2.5rem)
  }
}
@media (min-width:61.99875em) and (max-width:111.875em) {
  .footer__content {
    padding-right: clamp(1.875rem ,-2.0095361019rem + 6.2655071301vw ,5rem)
  }
  .top-footer {
    padding-left: clamp(1.875rem ,-2.0095361019rem + 6.2655071301vw ,5rem)
  }
  .bottom-footer {
    margin-right: clamp(2.5rem ,-.6076288815rem + 5.0124057041vw ,5rem)
  }
  .process__image-row::before {
    width: clamp(6.25rem ,3.1423711185rem + 5.0124057041vw ,8.75rem)
  }
  .process__image-row::before {
    height: clamp(5.9375rem ,2.8298711185rem + 5.0124057041vw ,8.4375rem)
  }
}
@media (min-width:47.99875em) and (max-width:111.875em) {
  .what-we-do__content {
    padding-right: clamp(1.5625rem ,-1.0205524354rem + 5.3814993836vw ,5rem)
  }
  .illustration__image-block::before {
    width: clamp(5.625rem ,3.2767705133rem + 4.8922721669vw ,8.75rem)
  }
  .illustration__image-block::before {
    height: clamp(5.625rem ,3.2767705133rem + 4.8922721669vw ,8.75rem)
  }
  .illustration__image-block::after {
    width: clamp(7.5rem ,5.4805226414rem + 4.2073540635vw ,10.1875rem)
  }
  .illustration__image-block::after {
    height: clamp(5rem ,2.1351600262rem + 5.9685720436vw ,8.8125rem)
  }
  .col-inner {
    -webkit-column-gap: clamp(.625rem ,-.0325042563rem + 1.3698362067vw ,1.5rem);
    -moz-column-gap: clamp(.625rem ,-.0325042563rem + 1.3698362067vw ,1.5rem);
    column-gap: clamp(.625rem ,-.0325042563rem + 1.3698362067vw ,1.5rem)
  }
}
@media (min-width:23.4375em) and (max-width:111.875em) {
  .impact__slide {
    padding-right: clamp(5rem ,9.7438162544rem + -4.2402826855vw ,8.75rem)
  }
}
@media (min-width:83.125em) and (max-width:111.875em) {
  .inner-impact {
    padding-left: clamp(2.5rem ,-4.7282608696rem + 8.6956521739vw ,5rem)
  }
}
@media (min-width:20em) and (max-width:83.125em) {
  .inner-impact {
    padding-bottom: clamp(2.5rem ,1.3118811881rem + 5.9405940594vw ,6.25rem)
  }
}
@media (min-width:75em) and (min-width:20em) and (max-width:111.875em) {
  .donate__body:nth-of-type(1) {
    padding-right: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .donate__body:nth-of-type(2) {
    padding-left: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
}
@media (min-width:75em) and (max-width:20em) {
  .donate__body:nth-of-type(1) {
    padding-right: 1.5rem
  }
  .donate__body:nth-of-type(2) {
    padding-left: 1.5rem
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:111.875em) {
  .donate__body:nth-of-type(2) {
    padding-right: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
  .donate__body:nth-of-type(3) {
    padding-left: clamp(1.5rem ,1.2823129252rem + 1.0884353741vw ,2.5rem)
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .donate__body:nth-of-type(2) {
    padding-right: 1.5rem
  }
  .donate__body:nth-of-type(3) {
    padding-left: 1.5rem
  }
}
@media (any-hover:hover) {
  .btn:hover {
    background-color: #9eb5ee
  }
  .btn--transparent:hover {
    background-color: transparent;
    scale: 1.03
  }
  .menu__link:hover::before {
    width: 100%;
    background-color: #000
  }
  .action-header__link:hover::before {
    width: 0;
    background-color: #000
  }
  .col__link:hover {
    -webkit-transform: translateX(5.5px);
    transform: translateX(5.5px)
  }
  .social__item:hover {
    background-color: #fff
  }
  .what-we-do__link:hover {
    color: #9eb5ee
  }
  .what-we-do__link:hover::after {
    color: #9eb5ee
  }
  .col-inner__image-row img:hover {
    scale: 1.05
  }
  .col-inner__title:hover {
    opacity: .6
  }
  .impact__button-arr:hover {
    opacity: .4
  }
  .donation-form__link:hover {
    text-decoration: none
  }
}